[submodule "recipes-pl/pl-confd/files/lib/tomlplusplus"]
	path = recipes-pl/pl-confd/files/lib/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "recipes-pl/pl-confd/files/lib/SQLiteCpp"]
	path = recipes-pl/pl-confd/files/lib/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "recipes-pl/pl-confd/files/lib/plog"]
	path = recipes-pl/pl-confd/files/lib/plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "recipes-pl/pl-confd/files/lib/fmt"]
	path = recipes-pl/pl-confd/files/lib/fmt
	url = https://github.com/fmtlib/fmt.git
